input {
    text-align: center;
}



#match_container{
    height:200px;
    background-color: #8CC68C;
    margin-top: 10px;
    border:2px solid black;
}

#match_on_label_dd{
    padding-top: 50px;
    padding-left: 25px;
}

#start_index {
    padding-top: 50px;
}

#input_string{
    padding-top: 50px;
    padding-right: 25px;
}


#return_container {
    height:200px;
    background-color: #87CEFA;
    margin-top: 10px;
    border:2px solid black;
}

#specific_length{
    padding-top: 50px;
    padding-left: 25px;
}

#return_label_dd{
    padding-top: 50px;
}

#select_index{
    padding-top: 50px;
    padding-right: 25px;
}
#output_label{
    padding-left: 30px
}

#output{
    padding-left: 65px
}



