<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div id="container">
	<div class="match_on_label_dd" id="match_on_label_dd">
	  <label style="color: black" for="match_on_dropdown">Match On:</label>
		<select #InputMatchCriteria id="match_on_dropdown" class="browser-default" (change)="setMatchOnDropdownValue($event.target.value)">
		    <option value="1">Position</option>
		    <option value="2">First Match of</option>
		</select>
	</div>

	<div id="start_index" class="start_index" [hidden]="matchOnUiLogic()">
	  <div class="input-field col s4">
	    <label style="color: black" for="start_index">Starting Index:</label>
	    <input #StartIndex id="start_index" type="number" min="1">
	  </div>
	</div>

	<div class="input_string" id="input_string">
		<div class="input-field col s4">
	    <label style="color: black" class="active" for="input_string">Character(s):</label>
	    <input #InputString value="" id="input_string" type="text" class="validate">
	  </div>
	</div>
</div>



<div  class="return_label_dd" id="return_label_dd">
	<label class="return_label" id="return_label" for="return dropdown">Return:</label>
	<select #InputReturnCriteria id="return_dropdown" class="browser-default" (change)="setReturnDropdownValue($event.target.value)">
	    <option value="1">From Position</option>
	    <option value="2">From Match</option>
	    <option value="3">From Match(Include Match)</option>
	</select>
</div>


	<div id="specific_length" class="specific_length">
		<div class="input-field col s4">
		  <label class="active" for="specific_length">Specific Length:</label>
		  <input #SpecificLength id="specific_length" type="number" min="1">
		</div>
	</div>

	<div id="select_index" class="select_index" [hidden]=" returnUiLogic()">
		<div class="input-field col s4">
		  <label class="active" for="select_index">Select Index:</label>
		  <input #SelectIndex id="select_index" type="number" min="1">
		</div>
	</div>



<div class="input_barcode" id="input_barcode">
	<div class="input-field col s4">
    <label class="active" for="input_barcode">Input Barcode:</label>
    <input #InputBarcode value="" id="input_barcode" type="text" class="validate">
  </div>
</div>

<div class="try_button">
	<button class="waves-effect waves-light btn" (click)="regExFunctionFilter( InputBarcode.value, InputString.value, InputMatchCriteria.value, InputReturnCriteria.value, SpecificLength.value, StartIndex.value, SelectIndex.value)"><i class="material-icons left">cake</i>Try Filter</button>
</div>

<div class="row">
	<div class="col s4">
		<h4 class="output_label">Output:</h4>
		<p class="output" id="output"></p>
	</div>
</div>