select, option {
	width: 500px;
}

input, p {
    text-align: center;
}

/*.start_index, .input_string {
    display:inline-block;
    margin:10px 0;
    border-radius:25px;
}

.match_on_label_dd {
    display:inline-block;
    margin:10px 0;
    border-radius:25px;
}

#container {
    text-align:center;
    background-color: #99CC99;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}*/

.return_label_dd, .match_on_label_dd {
    padding-left: 30px;
}

.select_index, .start_index {
    padding-top: 5px;
    padding-left: 30px;
    width: 200px;
}

.input_string {
    padding-top: 5px;
    padding-left: 30px;
    width: 300px;
}


.specific_length{
    padding-top: 10px;
    padding-left: 30px;
    width: 200px;
}

.include_match{
    padding-top: 20px;
    padding-left: 200px;
}

.input_barcode {
    padding-left: 30px;
    width: 500px;
}

.try_button {
    padding-top: 20px;
    padding-left: 180px;
}

.output_label{
    padding-left: 181px;
}

.output{
    padding-left: 100px;
}

