<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container" id="match_container">
	<div class="row">
		<div class="match_on_label_dd" id="match_on_label_dd" class="col s4">
			<label style="color: black" for="match_on_dropdown">Match On: </label>
			<select #InputMatchCriteria id="match_on_dropdown" class="browser-default" (change)="setMatchOnDropdownValue($event.target.value)">
					<option value="1">Position</option>
					<option value="2">First Match of</option>
			</select>
		</div>
		<div id="start_index" class="start_index" class="col s4" [hidden]="matchOnUiLogic()">
			<div class="input-field">
				<label style="color: black" class="active" for="start_index">Starting Index:</label>
				<input #StartIndex type="number" min="1">
			</div>
		</div>
		<div class="input_string" id="input_string" class="col s4">
			<div class="input-field">
				<label style="color: black" class="active" for="input_string">Character(s):</label>
				<input #InputString value=""  type="text" class="validate">
			</div>
		</div>
	</div>
</div>

<div class="container" id="return_container">
	<div class="row">
		<div id="specific_length" class="specific_length" class="col s4">
			<div class="input-field">
				<label style="color: black" class="active" for="specific_length">Specific Length:</label>
				<input #SpecificLength  type="number" placeholder="All(empty)" min="1">
			</div>
		</div>
		<div class="return_label_dd" class="col s4" id="return_label_dd">
			<label style="color: black" class="return_label" id="return_label" for="return dropdown">Return:</label>
			<select #InputReturnCriteria id="return_dropdown" class="browser-default" (change)="setReturnDropdownValue($event.target.value)">
				<option value="1">From Position</option>
				<option value="2">From Match</option>
				<option value="3">From Match(Include Match)</option>
			</select>
		</div>
		<div id="select_index" class="select_index" class="col s4" [hidden]=" returnUiLogic()">
			<div class="input-field">
			  <label style="color: black" class="active" for="select_index" [hidden]="matchOnUiLogic()">Select Index:</label>
			  <label style="color: black" class="active" for="select_index" [hidden]="!matchOnUiLogic()">Return Position after match:</label>
			  <input #SelectIndex  type="number" min="1">
			</div>
		</div>
	</div>
</div>


<div class="container">
  <div class="row">
	  <div  class="input_barcode col s4 push-s4" id="input_barcode">
			<div class="input-field">
		    <label class="active" for="input_barcode">Input Barcode:</label>
		    <input #InputBarcode value="" id="input_barcode" type="text" class="validate">
		  </div>
		</div>
</div>

<div class="container">
  <div class="row">
    <div class="try_button col s7 push-s4">
			<button class="waves-effect waves-light btn" (click)="regExFunctionFilter( InputBarcode.value, InputString.value, InputMatchCriteria.value, InputReturnCriteria.value, SpecificLength.value, StartIndex.value, SelectIndex.value)"><i class="material-icons left">cake</i>Try Filter</button>
		</div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col s4 push-s4">
			<h4 id="output_label" class="output_label">Output:</h4>
			<h5 class="output" id="output"></h5>
		</div>
	</div>
</div>



